//mixins
//for buttons and centering
////////////////////////////////////////////////////
@mixin roundy {
    border-radius: 5px;
}
@mixin center {
	width: 90%;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}
@mixin btn {
    border: none;
    @include roundy;
    color: $white;
    display: block;
    width: 100%;
    display: block;
    width: 100%;
    margin-bottom: 1.3em;
    text-transform: uppercase;
}
//for images and avatars
////////////////////////////////////////////////////
@mixin pictureFrame {
	display: block;
	margin: auto;
	width: 80%;
	padding: .5em;
	border: 3px solid $white;
	 -webkit-box-shadow: 0px 0px 0px 1px rgba(205,205,205,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(205,205,205,0.75);
    box-shadow: 0px 0px 0px 1px rgba(205,205,205,0.75);
}
@mixin avatar {
	display: block;
	text-align: center;
	margin: auto;
	width: 60%;
	padding: 2em;
	@media (min-width: $break-m){
	text-align: center;
	margin: auto;
	}	
}
//for form creation
////////////////////////////////////////////////////
@mixin form {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 8px solid $primary-color;
	padding-left: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-weight: 700;
	width: 95%
}
//flexbox
////////////////////////////////////////////////////
@mixin flexy(
$disp: flex,
$dir: null,
$wrap: null,
$just: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
}

