/* Scss Document */
//colors

$primary-color: #58e1c1;
$white: #fff;

$font-color-default: #626262;
$txt-color: #5a5a5a;
$link-color: #52ddfc;

$blockquote: #808080;
//button colors
$btn-default: #51ddfc;
$btn-success: #63cc82;
$btn-error: #e4757a;
$btn-warning: #fd7856;
$btn-info: #927bc1;

// grid colors


//fonts

$font-fam: 'Titillium Web', sans-serif;

// layout
$max-width: 1000px;

//breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-lg: 992px;