//buttons
.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
    @include btn;
}
.btn--default {
    background: $btn-default;
    &:hover {
    background-color: $btn-default-comp;
    }
}
.btn--success {
    background: $btn-success;
     &:hover {
    background-color: $btn-success-comp;
    }
}
.btn--error {
    background: $btn-error;
     &:hover {
    background-color: $btn-error-comp;
    }
}
.btn--warning {
    background: $btn-warning;
     &:hover {
    background-color: $btn-warning-comp;
    }
}
.btn--info {
    background: $btn-info;
     &:hover {
    background-color: $btn-info-comp;
    }
   
}

@include mq(medium){
    .btn--default.theme__colors,
    .btn--success.theme__colors,
    .btn--error.theme__colors,
    .btn--warning.theme__colors,
    .btn--info.theme__colors {
        margin: auto;
        margin-left: 20px;
        padding: 1em 50px;
       
    }
    .form {
        .btn--default.theme__colors {
        margin: 0;
        padding: 1em 0;
        }
    }

}