//buttons
.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
    display: block;
    width: 100%;
    margin-bottom: 1.3em;
     @include btn;
     text-transform: uppercase;
}
.btn--default {
    background: $btn-default;
}
.btn--success {
    background: $btn-success;
}
.btn--error {
    background: $btn-error;
}
.btn--warning {
    background: $btn-warning;
}
.btn--info {
    background: $btn-info;
   
}

@media (min-width: $break-m){


}