//buttons
.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
    @include btn;
}
@each $type, $color in $btn-colors {
    .btn--#{$type} {
        background-color: $color;
    }
}
@each $type, $color-hover in $btn-colors-hover {
    .btn--#{$type}:hover {
        background-color: $color-hover;
    }
}

@include mq(medium){
    .btn--default.theme__colors,
    .btn--success.theme__colors,
    .btn--error.theme__colors,
    .btn--warning.theme__colors,
    .btn--info.theme__colors {
        margin: auto;
        margin-left: 20px;
        padding: 1em 50px;
       
    }
    .form {
        .btn--default.theme__colors {
        margin: 0;
        padding: 1em 0;
        }
    }

}