/* Scss Document */
/*Forms:
    .form
    .form__label--hidden
    .form__input
   */
.form {
	 @include flexy($dir:column);
}
.form__label--hidden {
	display: none;
}
.form__input {
	@include form;

}
//media queries
@media (min-width: $break-m){
 .form {
 	margin: 0;
 	padding: 0;
 	margin-top: 35px;
 	margin-right: 1em;
 }
}