/* Scss Document */
/*Forms:
    .form
    .form__label--hidden
    .form__input
   */
.form {
	 @include flexy($dir:column);
	 @media (min-width: $break-m) {
	 	.btn--default.theme__colors {
        margin: 0;
        padding: 1em 0;
        }
	 }
}
.form__label--hidden {
	display: none;
}
.form__input {
	@include form;
}
