/* Scss Document */
/*
 Grid:
    .container
    .grid__row
    .grid__col--2
    .grid__col--3
    .grid__col--4
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .grid__col--12
    .centered
    .theme__colors

// grid colors
$grid__col--3: #deb2ee;
$grid__col--4: #7ee6fd;
$grid__col--5: #88d9a0;
$grid__col--6: #3fabca;
$grid__col--7: #ec9fa3;
$grid__col--8: #fd9f85;
$grid__col--12: #80e8d1;
*/
.container {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	width: 90%;
	margin: auto;
}
.card {
	padding: 1em;
}
.grid__row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	margin-bottom: 1.75em;
}
@media (min-width: $break-m){
	.grid__row {
		flex-direction: row;
	
	}
}
.grid__col--3 {
	margin: auto;
	
}

.theme__colors {
	padding: .5em;
	margin-bottom: 6px;
	border-radius: 5px;
}
.theme__colors.grid__col--3 {
	background-color: $grid__col--3;
	margin: 0;
	margin-bottom: 6px;
}
.theme__colors.grid__col--4 {
	background-color: $grid__col--4;
}
.theme__colors.grid__col--5 {
	background-color: $grid__col--5;
}
.theme__colors.grid__col--6 {
	background-color: $grid__col--6;
}
.theme__colors.grid__col--7 {
	background-color: $grid__col--7;
}
.theme__colors.grid__col--8 {
	background-color: $grid__col--8;
}
.theme__colors.grid__col--12 {
	background-color: $grid__col--12;
}
