/* Scss Document */
/*
 Grid:
    .container
    .grid__row
    .grid__col--2
    .grid__col--3
    .grid__col--4
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .grid__col--12
    .centered
    .theme__colors

// grid colors
$grid__col--3: #deb2ee;
$grid__col--4: #7ee6fd;
$grid__col--5: #88d9a0;
$grid__col--6: #3fabca;
$grid__col--7: #ec9fa3;
$grid__col--8: #fd9f85;
$grid__col--12: #80e8d1;
*/
.container {
	 @include flexy($dir:column);
	width: 90%;
	margin: 0 auto;
}

.grid__row {
	 @include flexy($dir:column);
	justify-content: center;
	text-align: left;
	margin-bottom: 1.75em;
	@include mq(medium) {
		@include flexy($dir:row);
		margin-top: 1em;
		}
}
//for loop for the gutter
//////////////////////////////////////////////////
@for $i from 1 through 12 {
	.grid__col--#{$i} {
		@include mq(medium){
	  			margin-right: 10px !important;
		}
	}
}
/////////////////////////////////////////////////////
.grid__col--3 {
	margin: auto;
	@include mq(medium){
	flex-basis: 50%;
	}
}
.theme__colors {
	padding: .5em;
	margin-bottom: 6px;
	border-radius: 5px;
}
.theme__colors.grid__col--3 {
	background-color: $grid__col--3;
	margin: 0;
	margin-bottom: 6px;
}
.theme__colors.grid__col--4 {
	background-color: $grid__col--4;
	@include mq(medium){
		flex-basis: 75%;
	}
}
.theme__colors.grid__col--5 {
	background-color: $grid__col--5;
	@include mq(medium){
		flex-basis: 35%;
	}
}
.theme__colors.grid__col--6 {
	background-color: $grid__col--6;
	@include mq(medium){
		flex-basis: 50%;
	}
}
.theme__colors.grid__col--7 {
	background-color: $grid__col--7;
	@include mq(medium){
		flex-basis: 65%;
	}
}
.theme__colors.grid__col--8 {
	background-color: $grid__col--8;
	@include mq(medium){
		flex-basis: 75%;
	}
}
.theme__colors.grid__col--12 {
	background-color: $grid__col--12;
	@include mq(medium){
		flex-basis: 100%;
	}
}

@include mq(medium){
	.grid__col--12 {
	 @include flexy($dir:column);
	 @include flexy($dir:row,$just:space-evenly);
	}
	.grid__col--4 {
	flex-basis: 33.3333333333%;
	} 
	.grid__col--6 {
	flex-basis: 50%;
		.img--avatar {
		width: 40%;
		padding: 1em;
		}
	} 
	.grid__col--8 {
	flex-basis: 66%;
	@include mq(medium){
    	padding-right: 50px;
    }
	} 
	.grid__col--9 {
		flex-basis: 60%;
	} 
}

