/* Scss Document */
//Image:
    //.img--logo
    //.img--frame
    //.img--avatar
.img--logo {
	margin-top: 2.25em;
	margin-bottom: 2.25em;
	@include mq(medium){
	margin: 0;
	padding: 0;
	}
}
.img--avatar {
	@include avatar;
}

.img--frame {
	@include pictureFrame;
}