/* Scss Document */
.nav {
    margin: 0;
    padding: 0;
    text-align: center;
   @include mq(medium){
    @include flexy($dir:row,$just:center);
    margin-top: 15px;
    }
}
.nav__item {
        list-style-type: none;
        display: block;
        @include mq(medium){
         margin: 0;
         }
    }
.nav__item {
        a {
            display: block;
            text-decoration: none;
            padding: 1em;
            color: $font-color-default; 
        }
        a:hover {
            color: $white;
            background: $primary-color;
            @include roundy;
        }
  
}

    