/* Scss Document */
.nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav__item {
        
        list-style-type: none;
        display: block;
    }
.nav__item {
        a {
            display: block;
            text-decoration: none;
            padding: 1em;
            color: $font-color-default; 
        }
        a:hover {
            color: $white;
            background: #58e1c1;
            @include roundy;
        }
  
}
//media queries
@media (min-width: $break-m){
 .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
   
 }
 .nav__item {
    margin-left: .5em;
 }
}

    